@media (max-width: 1200px)
  .container
    max-width: 900px
  .promo
    background-position-x: -100px
@media (max-width: 992px)
  .container
    max-width: 700px
  .promo
    &__header
      font-size: 38px
    &__subheader
      font-size: 20px
  .advantages
    &__title
      font-size: 26px
    &__subtitle
      font-size: 16px
    &__item
      width: 200px
      font-size: 12px

@media (max-width: 768px)
  .container
    max-width: 500px
  .header
    &__logo
      width: 150px
    &__official
      font-size: 10px
      span
        font-size: 16px
    &__phone
      font-size: 16px
      margin-bottom: 5px
  .promo
    min-height: 550px
    padding-bottom: 50px
    background-position-x: -210px
    &__wrapper
      margin-top: 50px
      align-items: center
    &__icons
      margin-top: 35px
  .button
    &--main
      margin-top: 55px
  .advantages
    padding: 50px 0 30px
    &__wrapper
      flex-wrap: wrap
    &__item
      margin: 0 auto 30px

@media (max-width: 576px)
  .container
    max-width: 90%
  .header
    flex-direction: column
    min-height: 150px
  .promo
    &__wrapper
      margin-top: 30px
    &__header
      font-size: 30px
      text-align: center
    &__subheader
      font-size: 16px
      text-align: center
    &__icons
      width: 260px
    &__icon
      font-size: 12px
  .button
    &--main
      width: 280px
  .advantages
    &__wrapper
      margin-top: 30px
    &__title
      font-size: 22px
    &__item
      margin-bottom: 25px
    &__subtitle
      margin-top: 15px
      margin-bottom: 20px
