.advantages
  min-height: 470px
  background-color: #f6f6f6
  padding: 70px 0 78px
  &__wrapper
    margin: 65px auto 0
    display: flex
    justify-content: space-between
  &__item
    width: 230px
    text-align: center
    font-size: 14px
    line-height: 1.2
    font-weight: 300
    color: $dark-text
  &__subtitle
    font-size: 18px
    line-height: 1.2
    font-weight: 700
    color: $dark-text
    margin-top: 38px
    margin-bottom: 26px
  &__link
    text-decoration: underline
    color: #ff0000
  &__icon
    &--animated
      animation: heartbeat 1.5s ease infinite
      &:hover 
        animation-play-state: paused

